/gh-models
/gh-models.exe
/gh-models-darwin-*
/gh-models-linux-*
/gh-models-windows-*
/gh-models-android-*
**.http
**.generate.json
examples/*harm*
.github/instructions/genaiscript.instructions.md
genaisrc/